# dependencies
node_modules/

# build outputs
dist/
.next/
out/
coverage/
.nx/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# test / playwright
test-results/
playwright-report/
blob-report/

# misc
*.tsbuildinfo
.turbo
